.projects__div {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    gap: 10px;
    justify-content: center;
    justify-items: auto;
    align-items: center;
    margin-top: 50px;
}
.projects {
    right: auto;
    left: auto;
    justify-content: center;
    justify-items: auto;
    align-items: center;
    margin: 30px;
}

.projects__column2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-content: center;
    align-items: center;
}

.projects__column2  img{
    width: 600px;
}

.projects__column2  div{
    width: 600px;
}
.projects__text {
    font-size: 50px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .projects__div {
        grid-template-columns: repeat(3, 150px);
        max-width:600px;
        width: 600px;
        gap: 5px;
        justify-content: left;
    }
    .projects__column2  img{
        width: 300px;
    }

    .projects__column2  div{
        width: 300px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .projects__div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        gap: 10px;
        justify-content: center;
        justify-items: auto;
        align-items: center;
        margin-top: 50px;
    }
    .projects__column2  img{
        width: 250px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .projects__column2  div{
        width: 250px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .projects__text {
        font-size: 18px;
    }
}
@media screen and (max-width: 480px) {
    .projects__div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: auto;
        width: 150px;
        gap: 10px;
        justify-content: center;
        justify-items: auto;
        align-items: center;
        margin-top: 50px;
    }
    .projects__column2  img{
        width: 150px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .projects__column2  div{
        width: 150px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .projects__text {
        font-size: 18px;
    }
}